@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  color: black;
  max-width: 1920px;
  font-family: "Inter";
}

hr {
  height: 2px;
  border: none;
  margin-left: 40px;
  margin-right: 40px;
  background-color: #D0D5FF;

}