.home {
    text-align: center;
    padding-top: 8vh;
}

.first {
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: 100vw 92vh;
    background-image: url("../../imgs/back.png");
}

.block {
    padding: 40px 0;
}

p {
    font-size: 22px;
}

.head {
    display: flex;
    margin-top: auto;
    align-items: center;
    flex-direction: column;
}

.header {
    color: white;
    font-size: 150px;
    font-weight: bolder;
}

.subtext {
    margin-top: auto;
    margin-left: auto;
}

.subtext p {
    font-weight: 500;
    background-color: white;
    padding: 16px 250px 16px 20px;
}

.home .button {
    font-size: 18px;
    text-align: center;
    padding: 15px 20px;
}

.home .button:hover {
    padding: 14px 19px;
}

h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 40px;
}

h2 {
    font-size: 30px;
}

.stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.statblock {
    width: 25vw;
    height: 40vh;
    display: flex;
    margin-top: 40px;
    flex-direction: column;
}

.paragraph {
    font-size: 20px;
}

.subparag {
    font-size: 18px;
}

.number {
    font-size: 50px;
    color: #0013BC;
    font-weight: bolder;
}

.third {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    align-items: center;
    justify-content: space-evenly;
}

font {
    color: #0013BC;
}

.link {
    font-size: 20px;
    font-weight: 500;
    align-items: center;
}

.facts {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.card {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    align-items: center;
}

.card img {
    width: 595px;
    height: 350px;
}

.card div {
    width: 30vw;
    text-align: left;
}

h3 {
    font-size: 24px;
    margin-bottom: 25px;
}

.founder {
    gap: 5px;
    display: flex;
    text-align: center;
    flex-direction: column;
}

.founder p {
    font-size: 16px;
    font-weight: 500;
}

.animated {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: right;
}

.animated span {
    color: #D0D5FF;
    margin: -10px;
}