* {
    margin: 0;
    padding: 0;
}

.footer {
    display: flex;
    flex-direction: row;
    margin: 40px 0px 40px 0px;
    justify-content: space-evenly;
}

ul {
    list-style-type: none;
}

img {
    width: 45px;
    height: 45px;
}

li {
    font-size: 18px;
    margin-top: 12px;
}