.eventinfo {
    width: 40vw;
    text-align: left;
}

.container {
    display: flex;
    margin-left: 10vw;
}

.text {
    font-weight: 600;
    margin-bottom: 20px;
}

h2 {
    font-size: 35px;
}

.eventimages {
    display: flex;
    text-align: left;
    margin-left: 10vw;
    overflow-x: hidden;
}

.image {
    width: 420px;
    height: 420px;
}

.eventnumber {
    font-size: 48px;
    color: #D0D5FF;
}

.arr {
    width: 12px;
    height: 18px;
}

.eventimages .link {
    margin-top: -4px;
    border: #D0D5FF solid 1px;
    padding: 15px 20px 15px 20px;
}