.full {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    justify-content: center;
}

.full form {
    gap: 100px;
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    padding: 30px 40px 30px 40px;
    background-color: rgba(208, 213, 255, 0.5);;
}

form .button {
    padding: 17px;
    font-size: 20px;
    text-align: center;
}

form .button:hover {
    padding: 16px;
}

form p {
    font-weight: 600;
}

select {
    width: 444px;
    font-size: 18px;
    margin-top: 15px;
    padding: 15px 20px;
    margin-bottom: 30px;
    -webkit-appearance: none;
    background-position: calc(100% - 25px);
    background-image: url("../../imgs/select.png");
    background-size: 16px 10px;
    background-repeat: no-repeat;
}

input {
    width: 400px;
    font-size: 18px;
    margin-top: 15px;
    padding: 15px 20px;
    margin-bottom: 30px;
}