.navbar {
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.logo {
    font-size: 24px;
    font-weight: 700;
}
.links {
    gap: 50px;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    align-items: center;
}
a {
    text-decoration: none;
}
a:hover {
    color: #D0D5FF;
}
.button {
    color: white;
    background-color: #0013BC;
    padding: 15px 25px 15px 25px;
}
.button:hover {
    font-weight: 600;
    color: #0013BC;
    background-color: white;
    border: 1px solid #0013BC;
    padding: 14px 24px 14px 24px;
}