.reg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 8vh;
}

form {
    display: flex;
    align-self: center;
    margin-bottom: 40px;
    flex-direction: column;
    padding: 30px 40px 30px 40px;
    background-color: rgba(208, 213, 255, 0.5);
}